.botonNumero{
    background: rgb(41, 32, 32);
    color:white;
    border:2px;
    width:20mm;
    height:15mm; 
    border-radius: 20px;
}

#contenedorGeneral{
    padding-top: 4mm;
    /* background: rgb(224, 15, 15); */
    padding-left: 480px;
    height: 105mm;
}

#jumboPrincipal{
    height:30mm;
    background: rgb(4, 3, 87);
}

#tituloPrincipal{
    padding-top: 2mm;
    margin-top: 2mm;
    color: rgb(221, 221, 221);
}


#subtitulo{
    color: rgb(221, 221, 221);
}

body{
    background-image: url(https://carlosorellanaayala.files.wordpress.com/2020/01/pay-937884_1920.jpg);
}

#borde{
    background: rgb(80, 79, 79);
    margin-top: -4mm;
    margin-left: -11mm;
    padding-top: 5mm;
    width: 111mm;
    height: 105mm;
    border-radius: 20px;
}

#resultado{
    margin-left: 28px;
    display:block;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    width:360px;
    height: 80px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 10px;
    overflow-y: scroll;
}
